.main
  .left-contents
    .left-top
      .left-top__box
        .user-name
          user
        .menu
          .new-group
            test1
          .edit-user
            test2

    .left-bottom
      .group
        .group-name
          ぼっち
        .last-message
          頑張れ俺

  .right-contents
    .right-top
      .group-box
        .current-group
          ぼっち
        .group-member
          Member：user
      .edit-btn
          test-btn
    .right-middle
    .right-bottom