*{box-sizing: border-box;}

.main{
  background-color: red;
  height:100vh;
  width:100vw;
  display: flex;
}

.left-contents {
  height: 100%;
  width: 300px;
  .left-top{
    background-color: #253141;
    height: 100px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    &__box {
      width:100%;
      color:$white;
      display: flex;
      justify-content:space-between;
      .user-name{
        font-size: 16px;
        font-weight: bold;
      }
      .menu{
        display: flex;
        .new-group{}
        .edit-user{}
      }
    }
  }
  
  .left-bottom{
    background-color: #2f3e58;
    height: calc(100% - 100px);
    padding:20px 20px 0px;
      .group{
        color:$white;
        font-weight: bold;
        .group-name{
          font-size: 15px;
          padding-bottom: 5px;
        }
        .last-message{
          font-size: 11px;
          padding-bottom: 40px;
        }
      }
  }
}

.right-contents {
  height: 100%;
  width: calc(100% - 300px);
  .right-top{ 
    background-color: $white;
    height: 100px;
    padding: 0px 40px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content:space-between;
    .group-box{
      .current-group{
        color: #33333;
        font-size: 20px;
        padding-top: 35px;
      }
      .group-member{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
        display: flex;
      }
    }
    .edit-btn{
      display:block;
      color:$blue;
      height:40px;
      padding:0px 20px;
      border: solid 1px $blue;
      line-height: 40px;
      margin-top:28px;
      background-color: white;
    a{
      text-decoration: none;
    }
    }
  }
  .right-middle{
    background-color: #fafafa;
    height: calc(100% - 190px);
    padding:46px 40px 0px;
    .info{
      display: flex;
      .talker{
        color:#434a54;
        font-size:16px;
        font-weight: bold;
      }
      .date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    .message-text{
      color: #434a54;
      font-size: 14px;
      padding:10px 0px 40px;
    }
  }
  .right-bottom{
    background-color: #ddd;
    height: 90px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input-box{
      background-color: $white;
      height: 50px;
      width: 100%;
      padding: 0px 10px;
      margin-right: 15px;
      display: flex;
      justify-content: space-between;
      .input-text{
        color: #434a54;
        font-size: 16px;
        line-height: 50px;
        text-align: left;
      }
      .input-img{
        width: 50px;
        line-height: 50px;
        text-align: right;
      }
    }
    .send-btn{
      background-color: $blue;
      height: 50px;
      width: 100px;
      color: $white;
      line-height: 50px;
      text-align: center;
    }
  }
}